.container {
  margin: 32px;
}
.rect {
  background-color: coral;
  opacity: 0.5;
  line-height: 100px;
  text-align: center;
  vertical-align: middle;
  height: 100px;
  width: 100px;

  transition: width 2s, opacity 0.5s;
  margin-bottom: 16px;
}
* {
  box-sizing: border-box;
}
.rect:hover {
  width: 100%;
  opacity: 1;
}

rect:nth-child(2) {
  transition-timing-function: ease;
}
rect:nth-child(3) {
  transition-timing-function: ease-in;
}
rect:nth-child(4) {
  transition-timing-function: ease-out;
}
rect:nth-child(5) {
  transition-timing-function: ease-in-out;
}
