.header,
.navigation,
.nav-list {
  margin: 0;
  background-color: darkturquoise;
  height: 40px;
  position: fixed;
  width: 100%;
  z-index: 10;
  list-style-type: none;
}

.nav-item {
  color: white;
  margin-left: 16px;
  float: left;
}

.content {
  background-color: beige;
  height: 5000px;
}
.head {
  height: 200px;
  width: 200px;
  margin-top: calc(100% / 2 - 150px);
  margin-left: calc(100% / 2 - 100px);
  position: absolute;
  background-color: aquamarine;
  z-index: 1;
}
.ear {
  height: 60px;
  width: 40px;
  position: absolute;
  left: -40px;
  top: -60px;
  background-color: brown;
}
.ear {
  height: 60px;
  width: 40px;
  position: absolute;
  background-color: brown;
}
.ear_right {
  left: -40px;
  top: -60px;
}
.ear_left {
  left: 200px;
  top: -60px;
}
.eye {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: grey;
}
.eye_right {
  position: absolute;
  top: 80px;
  left: 40px;
}
.eye_left {
  position: absolute;
  top: 80px;
  right: 40px;
}
