.checkbox {
  position: relative;
  padding-left: 35px;
  font-size: 24px;
  margin: 16px;
  display: flex;
}
input[type='checkbox'] {
  visibility: hidden;
  width: 0cm;
  height: 0cm;
}
.checkmark {
  position: absolute;

  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  background-color: #d3d3d3;
}
.checkbox input:checked + .checkmark {
  background-color: #006400;
}
* {
  box-sizing: border-box;
}
body {
  margin-left: 50px;
}
