* {
  box-sizing: border-box;
}
html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
.header {
  display: flex;

  cursor: pointer;
  height: 3em;
  padding: 0 1em;
  background-color: #eee;
}
.button_menu {
  font-size: 2em;
  padding: 0;
  border: none;
  background-color: transparent;
}
.nav-list {
  list-style: none;
  padding: 0;
}
i {
  visibility: hidden;
}
.navigation {
  width: 20%;
  padding: 0.5em;
}
body {
  width: 100%;
}
ul {
  padding: 0;
  line-height: 2em;
}
.nav-list-item {
  display: block;
  background-color: #808080;
  color: white;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  margin: 0.5em 0;
}
.nav-list-link {
  color: white;

  text-decoration: none;
  padding: 0.5em;
}
@media screen and (max-width: 599px) {
  i {
    visibility: visible;
  }
  .main {
    visibility: hidden;
  }
}
@media screen and (min-width: 600px) {
  i {
    visibility: hidden;
  }
  .main {
    visibility: visible;
  }
}
