div {
  width: auto;
  height: ;
  margin: 50px;
  border: 2px solid black;
}
.div1 {
  background-color: blue;
}
.div2 {
  background-color: yellow;
}
.div3 {
  background-color: green;
}
.div4 {
  height: 100px;
  background-color: pink;
}
