.login-form {
  margin: 32px;
}
.form-control,
.languages {
  margin: 8px;
}
* {
  box-sizing: border-box;
}
.languages {
  display: flex;
}
input[type='radio'] {
  padding-left: 2px;
}
textarea {
  margin-left: 8px;
  width: 250px;
}
