.login-form {
  margin: 32px;
}

.form-control {
  margin: 8px;
}
* {
  box-sizing: border-box;
}
.languages {
  display: flex;

  padding: 0;
  margin-left: 7px;
}
textarea {
  margin-left: 8px;
  width: 261px;
}

option {
  padding: 0;
  margin: 0;
}
input[type='radio'] {
  margin-left: 2px;
}
