.login-form {
  margin: 32px;
}
.form-control,
.languages {
  margin: 8px;
}
* {
  box-sizing: border-box;
}
.languages {
  display: flex;
  margin-top: 5px;
}
input[type='radio'] {
  padding-left: 3px;
}
textarea {
  margin-left: 8px;
  width: 260px;
}
div > input + option {
  padding-left: 3px;
}
