div {
  margin: 16px;
}
.choose-gender {
  padding-right: 5px;
}
#agree-form-control {
  position: absolute;
  top: 3px;
  left: 0;
  padding-right: 5px;
}
.checkbox {
  position: relative;
  display: inline-block;
  padding-left: 10px;
}
.checkmark {
  margin-left: 5px;
}
.gender {
  margin-left: 5px;
}
