* {
  box-sizing: border-box;
}
html {
  height: 100%;
  font-family: Verdana;
  font-size: 16px;
  color: #555;
}
header {
  flex: 0 0 auto;
  color: white;
  text-align: center;
  background-image: linear-gradient(60deg, red, orange);
}
.main {
  display: flex;
  flex: 1 0 auto;
}
ul {
  line-height: 1.75em;
}
.footer {
  flex: 0 0 auto;
  background-color: #e5e5e5;
  padding: 0.5em;
  text-align: center;
}
body {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.navigation {
  padding: 0.5em;
  width: 20%;
}
.nav-list-link {
  color: white;
  margin: auto;
  text-decoration: none;
}
.nav-list {
  list-style: none;
  padding: 0;
}
.nav-list-item {
  padding: 0 0.5em;
  color: white;
  line-height: 2em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  background-color: #808080;
  margin-bottom: 0.5em;
}
i {
  visibility: hidden;
}
.section {
  font-size: 1.25em;
  padding: 0.5em;
  width: 60%;
}
.news {
  padding: 0.5em;
  width: 20%;
}
.css-units {
  color: #8b0000;
  background-color: #e5e5e5;
  font-size: 1.125em;
  font-weight: 700;
}
.section__header {
  text-align: center;
  font-size: 5vw;
}
img {
  max-width: 100%;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}
picture {
  width: 100%;
}
@media screen and (max-width: 599px) {
  .main {
    flex-direction: column;
  }
  .section {
    width: 100%;
  }
  .news {
    width: 100%;
  }
  .navigation {
    width: 100%;
  }
}
@media screen and (min-width: 600px) and (max-width: 1199px) {
  .section {
    margin: 0;
    width: 80%;
    display: flex;
    flex-direction: column;
  }

  picture {
    width: 100%;
  }
  .navigation {
    width: 20%;
    float: left;
  }
  .news {
    padding: 0;
    display: block;
    width: 100%;
  }
  .main {
    display: block;
    width: 100%;
  }
  .units-list {
    margin: 0;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    width: 60%;
  }
  .navigation {
    width: 20%;
  }
  .news {
    width: 20%;
  }
}
